<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="ConsoleAppender" type ="log4net.Appender.ConsoleAppender">
			<layout type="log4net.LayOut.PatternLayout">
				<conversionPattern value="%date(ABSOLUTE) [%logger] %level - %message%newline%exception" />
			</layout>
		</appender>
		
		<appender name="FileAppender" type ="log4net.Appender.FileAppender">
			
			<!--Filter for level of importance-->
			<!--<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="FATAL" />
			</filter>-->
			
			<!--Filter for name. Requires droping all left messages bc in other case they will be logged-->
			<filter type="log4net.Filter.StringMatchFilter">
				<stringToMatch value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			
			<file value="C:\Users\rozmyslowski\Documents\GitHub\log4net-learn\LoggerData\FilteredLogFile.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.LayOut.PatternLayout">
				<conversionPattern value="%date(ABSOLUTE) [%logger] %level - %message%newline%exception" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Users\rozmyslowski\Documents\GitHub\log4net-learn\LoggerData\RollingLogFile.txt" />
			<appendToFile value ="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="10MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="true" />
			<layout type="log4net.LayOut.PatternLayout">
				<conversionPattern value="%date(ABSOLUTE) [%logger] %level - %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>